@model ToDoListAspNetLibrary.Models.Entities.Category

<div class="container">
    <h1>Edit Category</h1>

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name" class="name-inputbox">Category Name</label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success return-btn edit-btn">Save</button>
        </div>
    </form>
    <form action="/Category" method="get">
        <button class="btn btn-primary return-btn edit-category">Return to the main page</button>
    </form>
</div>
